# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [30]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [13]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [18]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [23]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:
cars = cars1.append(cars2)
cars

C:\Users\Optimus\AppData\Local\Temp\ipykernel_9984\3958165173.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [35]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([47223, 64451, 68202, 19635, 54522, 30230, 55311, 50239, 36060,
       64294, 52343, 46519, 15823, 32637, 48365, 40410, 68586, 27536,
       18545, 50399, 35969, 59530, 44560, 29356, 17116, 59071, 19474,
       69334, 33796, 22612, 37692, 67134, 58948, 50478, 63437, 28616,
       42071, 48260, 59225, 60339, 40977, 28862, 58968, 37034, 71016,
       25131, 16590, 51324, 64336, 64848, 37230, 31968, 21440, 68376,
       63388, 24554, 68969, 21576, 41540, 19126, 41905, 16177, 19718,
       37325, 67898, 69756, 50646, 49750, 20920, 40979, 29269, 72626,
       49248, 31789, 58034, 58281, 65573, 50215, 64871, 46763, 63331,
       32361, 30152, 29654, 38626, 36508, 47969, 29894, 25804, 29674,
       44596, 68628, 22625, 58010, 54265, 39982, 37967, 72667, 62933,
       33170, 23011, 48297, 27284, 40107, 21284, 58178, 25759, 42166,
       15627, 24657, 36006, 53531, 15624, 62384, 59247, 62223, 41156,
       45829, 64803, 72678, 53809, 17303, 65743, 42844, 53023, 66086,
       19726, 72846, 48935, 38641, 29287, 29527, 54995, 46321, 46870,
       22068, 35730, 22914, 28423, 61783, 48461, 70992, 21009, 28428,
       54290, 72824, 17220, 67764, 65631, 71758, 44578, 58169, 61146,
       35512, 40579, 18738, 31509, 69494, 69422, 20954, 66623, 15387,
       57859, 20885, 25739, 34400, 72712, 57814, 70161, 60355, 33465,
       31176, 59258, 24007, 58297, 52688, 65615, 65703, 62123, 37810,
       68904, 21916, 67647, 41537, 28023, 38070, 34877, 47150, 18592,
       63742, 59297, 49339, 17683, 17617, 38973, 15582, 47147, 72614,
       31201, 66583, 21960, 65690, 64098, 31146, 48671, 51221, 50035,
       56322, 51447, 59383, 39489, 31578, 57934, 20254, 36483, 56384,
       69876, 56494, 52920, 25322, 62483, 26433, 34828, 27175, 26296,
       17602, 23495, 27138, 69375, 50426, 54537, 28587, 55953, 28798,
       37238, 28445, 24851, 33584, 50541, 72628, 48363, 33436, 43450,
       18255, 51923, 28395, 43963, 55993, 40455, 21526, 16851, 46185,
       50028, 37778, 15370, 71163, 68895, 23037, 19767, 17697, 25966,
       53697, 42060, 70006, 18888, 37895, 34586, 57448, 53260, 17582,
       16969, 51823, 21616, 40662, 30785, 31465, 54818, 38167, 66922,
       29719, 54446, 66756, 38469, 17412, 66059, 34872, 48420, 29721,
       35649, 23963, 39534, 64166, 31839, 66102, 54550, 29784, 48004,
       70673, 36886, 27534, 46782, 23477, 27768, 37513, 41004, 28135,
       55279, 54790, 55866, 31702, 22866, 17829, 67308, 21980, 68792,
       25604, 44264, 57369, 29188, 65210, 49537, 60198, 24822, 64827,
       19626, 64217, 67131, 47958, 69807, 46176, 39883, 21194, 25315,
       44176, 51893, 30822, 63045, 56138, 55038, 47424, 69548, 42757,
       47132, 52290, 45615, 39148, 63691, 37489, 25951, 40459, 45104,
       20356, 30630, 17924, 72448, 50313, 29717, 16374, 30858, 26655,
       44981, 65379, 49946, 53374, 23793, 17018, 22307, 66046, 28090,
       48804, 60091, 70629, 36291, 31386, 48502, 49799, 54198, 66781,
       32166, 19677, 27623, 56704, 49594, 59646, 59464, 71885, 44633,
       66840, 36513, 19345, 68242, 27700, 54553, 25048, 41891, 33758,
       32622, 29713])

### Step 8. Add the column owners to cars

In [37]:
cars["owners"] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,25048
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,41891
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,33758
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,32622
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,29713